<div class="row gy-3">

    <div class="col-6">

        <small class="text-secondary">
            Coordinator
        </small>

        <div class="fw-bold">
            Coordinator-1
        </div>

    </div>

    <div class="col-6">

        <small class="text-secondary">
            Registered Nodes
        </small>

        <div class="fw-bold gcon-counter" id="overview-registered-nodes" data-raw-value="0">
            0
        </div>

    </div>

    <div class="col-6">

        <small class="text-secondary">
            Active Jobs
        </small>

        <div class="fw-bold gcon-counter" id="overview-active-jobs" data-raw-value="0">
            0
        </div>

    </div>

    <div class="col-6">

        <small class="text-secondary">
            Receipts
        </small>

        <div class="fw-bold" id="overview-receipts">
            {{ dashboard.receipts_count }}
        </div>

    </div>

</div>